@font-face {
  font-family: roboto-bold;
  src: url(../fonts/roboto-bold.ttf);
}
@font-face {
  font-family: roboto-regular;
  src: url(../fonts/roboto-regular.ttf);
}
@font-face {
  font-family: Roboto-Medium;
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: Roboto-Light;
  src: url(../fonts/Roboto-Light.ttf);
}
.page-body-wrapper.user-login-bg {
  background-image: url(../../web/images/login-bg.png);
  background-size: 100% 100%;

  background-repeat: no-repeat;
}
.login-box-bg {
  background-color: #fff;

  box-shadow: 0px 2px 5px 2px #777777;
  border-radius: 25px;
}
.login-custom-input {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 1.5;
  color: #a2a1a1 !important;
  font-family: roboto-regular;
  background: #ffffff;
  border: 1px solid #999999;
  box-sizing: border-box;
  box-shadow: 0px 4px 39px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  height: 74px;
  padding: 0.875rem 25px;
}
.btn-login {
  font-family: roboto-regular;
  font-size: 27px;
  font-style: normal;
  line-height: 1.2;
  color: #fff;
  font-weight: 500;
  margin-top: 15px;
  padding: 20px 30px;
  width: 100%;
  border-radius: 11px;
}
.pad-t-100 {
  padding-top: 80px;
  padding-bottom: 20px;
}
.input-icon {
  position: absolute;
  right: 20px;
  top: 21px;
  z-index: 1;
  display: block;
}
.btn-blue {
  background-color: #0062d1;
}
.blue-color {
  color: #0062d1;
}
span .text-primary {
  color: #06b1f0 !important;
}
.nav-logo {
  height: 45px;
}
.navbar.default-layout-navbar.user-sidebar {
  height: 101px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  box-shadow: 0px 7px 12px rgb(0 0 0 / 15%);
}
.dropdown-toggle:after {
  color: #ccc !important;
}
.input-group-text {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

/* tophead style */
.navbar.default-layout-navbar.navbar-warning .navbar-menu-wrapper {
  background: #0faff0;
}
.sidebar .nav.sub-menu {
  padding-left: 55px;
}
.sidebar .nav .nav-item .nav-link {
  white-space: normal;
  line-height: 1.6 !important;
}
.user-navbar-menu-wrapper {
  background-color: transparent !important;
}
.user-sidebar {
  padding-top: 25px;
}
.navbar.default-layout-navbar.navbar-warning .navbar-menu-wrapper {
  background: #272727;
}
.sidebar-dark
  .sidebar
  .nav:not(.sub-menu)
  > .nav-item:hover:not(.nav-profile)
  > .nav-link {
  background: #0faff0;
  color: #ffffff;
}

.tbl-wrap {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.tbl-wrap table > thead tr:first-child {
  background-color: #0faff0;
  color: #fff;
}
.dash-lbl-text {
  font-weight: 500;
  font-family: roboto-bold;
  font-style: normal;
  line-height: 1.2;
  color: #000;
  font-size: 13px !important;
}
.tbl-wrap .form-check-input {
  margin-left: 0 !important;
}
.tbl-wrap td input.form-control {
  min-width: auto;
  width: 100px;
  max-width: 200px;
}
.pagination .page-item.active .page-link,
.pagination .page-item:hover,
.pagination .page-item .page-link:hover {
  background: #0faff0;
  border-color: #0faff0;
}
.dataTables_info {
  /* font-size: 16px;
    color: #0faff0;
    font-weight: 600; */
  line-height: 1.8;
  font-family: roboto-regular;
  display: inline-block;
  padding-right: 40px;
}
.btn-primary {
  background: #0faff0;
  border-color: #0faff0;
  color: #fff;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}
.header > h2 {
  font-size: 18px;
  padding: 20px 15px 15px !important;
  border-bottom: 1px solid #ccc;
}

/* 
user panel design */

.user-content-wrapper {
  background-image: url(../../web/images/user-dash-bg.png);
  background-size: contain;
  padding: 5.5rem 1.7rem 1.5rem;
  position: relative;
}
.user-box-sales-performance {
  background: #ffffff;
  box-shadow: 0px 4px 15px rgb(0 0 0 / 12%);
  border-radius: 7px;
}
.read-more-text {
  font-family: Roboto-Bold;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-decoration-line: underline;

  color: #0088ba;
}
.dash-box-icon {
  margin-left: -1px;
  margin-top: -59px;
  margin-bottom: 30px;
}
.sidebar-dark .sidebar.user-sidebar .nav .nav-item .nav-link {
  color: #000000;
}
.sidebar-dark .sidebar.user-sidebar .nav .nav-item .nav-link i.menu-icon {
  color: inherit;
}
.sidebar-dark .sidebar.user-sidebar {
  background: #fff;
}
.sidebar-dark
  .sidebar
  .nav:not(.sub-menu)
  > .nav-item:hover:not(.nav-profile)
  > .nav-link,
.sidebar-dark .sidebar .nav li a:hover .menu-icon {
  background: #353535;
  color: #ffffff;
}
.sidebar.user-sidebar .nav .nav-item.nav-profile .profile-name .designation {
  color: #686868;
  font-size: 0.75rem;
}
.sidebar-dark .sidebar.user-sidebar .nav .nav-item.nav-profile .profile-name .name {
  color: #585858 !important;
}
.sidebar-dark .sidebar.user-sidebar .nav .nav-item:first-child .nav-link {
  background: #EFF5F9 !important;
}
.sidebar.user-sidebar .nav .nav-item.nav-profile .profile-name .designation {
  color: #686868;
  font-size: 0.75rem ;
}
.sidebar-dark
  .sidebar
  .nav:not(.sub-menu)
  > .nav-item:hover:not(.nav-profile)
  > .nav-link {
  background: #353535;
  color: #ffffff;
}
/* sale-performance-ttl style */

.sale-performance-ttl {
  font-family: Roboto-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 27px;
  /* identical to box height */

  color: #0088ba;
}
/* div table design  */
.rTable {
  display: table;
}
.rTableRow {
  display: table-row;
}
.rTableHeading {
  display: table-header-group;
 
}
.rTableRow .rTableHead:first-child {
  border-top-left-radius: 15px;

}
.rTableRow .rTableHead:last-child {
  
  border-top-right-radius: 15px;
}
.rTableBody {
  display: table-row-group;
}
.rTableFoot {
  display: table-footer-group;
}
.rTableCell,
.rTableHead {
  display: table-cell;
}

.rTable .rTableRow:last-child .rTableCell {
  border-bottom: 0;
}
.rTable {
  display: table;
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 30px;
}
.rTableRow {
  display: table-row;
}
.rTableHeading {
  display: table-header-group;
  background-color: #ddd;
}
.rTableCell,
.rTableHead {
  display: table-cell;
  padding: 3px 10px;
  border-bottom: 1px solid #cbcbcb;
  padding: 15px;
}
.rTableHead {
  background: #00a6e3;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 14px;
  text-align: left;
  padding: 15px;
  color: #ffffff;
}
.rTableHeading {
  display: table-header-group;
  background-color: #ddd;
  font-weight: bold;
}
.rTableFoot {
  display: table-footer-group;
  font-weight: 800;
  background-color: transparent;

}
.rTableFoot .rTableCell{
color: #00a6e3;
}
.rTableBody {
  display: table-row-group;
}
.border-bottom-gray {
  border-bottom: 1px solid #817979 !important;
  padding-bottom: 15px;
}
.tbl-ttl{
  font-family: 'roboto-regular';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 13px;
  padding-bottom: 15px;
  text-align: left;
  color: #8E8E8E;
}
.time-txt{
  font-family: Roboto-Regular;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 24px;
letter-spacing: 0.15px;
color: #000000;
  float: right;
}
.dash-panel-ttl{
  font-family: Roboto-Regular;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
    padding: 25px 0 15px;
    word-break: break-all;
}
.dash-panel-text{
  font-family: Roboto-Regular;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: flex-end;
text-align: justify;
letter-spacing: 0.15px;
color: rgba(0, 0, 0, 0.87);
}
.user-content-wrapper .footer{
  position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}
.box-body{
  margin-bottom: 30px;
background-color: #fff;
position: relative;
height: 100%;
}
.mar-b-30{
  margin-bottom: 15px;
}
.support-format-txt{
  font-family: Roboto-Regular;
font-style: italic;
font-weight: normal;
font-size: 14px;
line-height: 21px;
color: #858585;
padding-top: 5px;
}
.read-more-pos{
  position: absolute;
    bottom: 15px;
    right: 15px;
}
.btn-pos{
  position: absolute;
  right:25px;
}
.error{
  padding-top: 5px;
    padding-left: 15px;
}
.user-dash-card{
  height: 100%;
}
.overflow-scroll{
  white-space: nowrap;
}
.admin-sidebar .nav.sub-menu .nav-item .nav-link {
  color: #fff !important;
}
/* div table design end  */

/* .navbar.default-layout-navbar.navbar-warning .navbar-menu-wrapper .navbar-toggler{
    margin-left: auto;
} */
@media screen and (min-width: 1201px) and (max-width: 1300px) {
  .col-xm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 1024px) {
  .navbar.default-layout-navbar .navbar-menu-wrapper {
    width: auto;
  }
}
@media screen and (max-width: 767px) {
  .user-content-wrapper {
    background-image: url(../../web/images/user-dash-bg.png);
    background-size: cover;
    padding: 5.5rem 1.7rem 1.5rem;
    background-repeat: no-repeat;
  }
  .tbl-scrol{
    overflow: auto;
    display: block;
    white-space: nowrap;

  }
  .mar-b {
    margin-bottom: 4.25rem;
  }
  .navbar.default-layout-navbar .navbar-menu-wrapper {
    width: auto;
    padding-left: 15px;
    padding-right: 10px;
  }
  .navbar.default-layout-navbar .navbar-menu-wrapper .navbar-nav .nav-item {
    margin-left: -1rem;
    margin-right: 0rem;
  }
}
@media screen and (max-width: 557px) {
.navbar.default-layout-navbar .navbar-menu-wrapper {
  width: auto;
  padding-left: 15px;
  padding-right: 3px;
  
}
.pagination-wrap .pagination > div{
width: 100%;
}
.pagination-wrap .pagination, .jsgrid .jsgrid-pager{
  flex-flow: wrap;
  justify-content: center;
}
.user-content-wrapper {
  padding: 5.5rem 1rem 1.5rem;
}
}