/*
Description:
    Contains all the styles for the winning wheel page.
    
Verison History:
    2012-01-28, Douglas McKechie
    - Created based off earlier version.
    
    2015-09-26, Douglas McKechie
    - Minor updates for the 2.0 winwheel example.
*/

body {
  font-family: arial;
}

/* Sets the background image for the wheel */
td.the_wheel {
  background-image: url(../images/wheel_back.png);
  background-position: center;
  background-repeat: no-repeat;
}
td #canvas {
  margin-top: -78px;
}
.btn-spin {
  color: #fff !important;
  background: #5087c6;
  border-radius: 49px;
  width: 137px;
  height: 42px;
}
.btn-spin:hover{
    color: #fff;
    background: #5087c6;
    border-radius: 49px;
    width: 137px;
    height: 42px;
  }


/* Do some css reset on selected elements */
h1,
p {
  margin: 0;
}

div.power_controls {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

div.html5_logo {
  margin-left: 70px;
}

/* Styles for the power selection controls */
table.power {
  background-color: #cccccc;
  cursor: pointer;
  border: 1px solid #333333;
}

table.power th {
  background-color: white;
  cursor: default;
}

td.pw1 {
  background-color: #6fe8f0;
}

td.pw2 {
  background-color: #86ef6f;
}

td.pw3 {
  background-color: #ef6f6f;
}
.spin-wheel-wrap table{
  width: 100%;
    display: flex;
    justify-content: center;
}
/* Style applied to the spin button once a power has been selected */
.clickable {
  cursor: pointer;
}

/* Other misc styles */
.margin_bottom {
  margin-bottom: 5px;
}
@media screen and (max-width:557px){
    .btn-spin{
        width: 130px;
    }
    div.power_controls {
      margin-top: 0px;
      margin-bottom: 0px;
    }
}